[submodule "chain-registry"]
	path = chain-registry
	url = https://github.com/cosmos/chain-registry/
[submodule "cw-on-chain-registry"]
	path = cw-on-chain-registry
	url = https://github.com/Snedashkovsky/cw-on-chain-registry
        branch = main
